<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
	<div class="container">
		<section class="footer-bottom border-top row">
			<div class="col-md-2">
				<p class="text-muted"> Task manager </p>
			</div>
			<div class="col-md-10 text-md-center">
				<span  class="px-2">info@taskmanager.com</span>
				<span  class="px-2">+57 333 333 3333</span>
				<span  class="px-2">Villavicencio CO</span>
			</div>
		</section>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->




</body>
</html>
