{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>task dashboard</h1>
<main class="col-md-12">
    <article class="card">
        <header class="card-header">
            <strong class="d-inline-block mr-3"> Task list </strong>
            <a href="{% url 'create' %}" class="btn btn-success">Create Task</a>
        </header>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col" class="col-2">Title</th>
                                <th scope="col" class="col-4">Description</th>
                                <th scope="col" class="col-1">Priority</th>
                                <th scope="col" class="col-2">Due date</th>
                                <th scope="col" class="col-1">Done</th>
                                <th scope="col" class="col-2">Done date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for task in tasks %}
                            <tr id="task-row-{{ task.id }}" {% if task.done %}class="table-success"{% endif %}>
                                <th scope="row">{{ task.title }}</th>
                                <td>{{task.description}}</td>
                                <td>{{ task.get_priority_display }}</td>
                                <td>{{task.task_due}}</td>
                                <td>
                                    <input type="checkbox" id="done-checkbox-{{ task.id }}" {% if task.done %}checked{% endif %} onchange="updateTask(this)">
                                </td>
                                <td id="date-completed-{{ task.id }}">{{task.date_completed}}</td>
                                <td>
                                    <a href="{% url 'update' task.id %}" class="btn btn-warning">Edit</a>
                                    <form action="{% url 'delete' task.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                    
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div> <!-- row.// -->
        </div> <!-- card-body .// -->

    </article> <!-- order-group.// -->
</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function getCSRFToken() {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, 10) === 'csrftoken=') {
                    cookieValue = decodeURIComponent(cookie.substring(10));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function updateTask(checkbox) {
        var taskId = checkbox.id.split('-')[2];
        var done = checkbox.checked;

        // Obtener la fecha y hora actual en formato ISO 8601
        var tzoffset = (new Date()).getTimezoneOffset() * 60000; //offset in milliseconds
        var now = (new Date(Date.now() - tzoffset)).toISOString().slice(0, -1);
        $.ajax({
            type: "POST",
            url: "{% url 'update_done' %}",
            data: {
                csrfmiddlewaretoken: getCSRFToken(),
                task_id: taskId,
                done: done,
                date_completed: now
            },
            success: function(response) {
                if (response.success) {
                    checkbox.checked = response.done;
                    var dateCompletedCell = document.getElementById('date-completed-' + taskId);
                    if (response.done) {
                        var dateCompleted = new Date(response.date_completed);
                        dateCompletedCell.innerText = dateCompleted.toLocaleString('en-US', { month: 'short', day: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit', hour12: true });
                        checkbox.closest('tr').classList.add('table-success');
                    } else {
                        dateCompletedCell.innerText = '';
                        checkbox.closest('tr').classList.remove('table-success');
                    }
                } else {
                    console.error('Error al actualizar el estado de la tarea.');
                }
            },
            error: function(xhr, status, error) {
                console.error('Error de solicitud AJAX:', error);
            }
        });
    }
</script>
{% endblock %}