{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Update Task</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <ol class="list-unstyled">
                            {{ form.as_p }}
                        </ol>
                        <button type="submit" class="btn btn-primary btn-block">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}